*{
    padding: 0;
    margin: 0;
}

body{
    background-color:honeydew;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
}

header{
    background-image: url(../img/cabecera.png);
    background-repeat: no-repeat;
    background-size: 100% 20%;
    height: 100vh;
    color: #000;
}

#login-container header #menu2{
    padding: 0px 0px;
}

header #menu2 ul{
    margin: 0;
    padding: 0;
}

header #menu2 ul #logo{
    
    display: inline-block;
    padding: 0px 250px 0px 0px;
    vertical-align: middle;
    color:aliceblue;
    text-decoration: none;
}

header #menu2 ul li{
    font-size: 22px;
    text-align: right;
    display: inline-block;
    padding: 0px 0px 5px 25px;
    vertical-align: middle;
    color:black;
    text-decoration-style:solid;
}

#login-container header main div h5 a{
    font-size: 15px;
    color:navy;
    text-decoration: solid;
    text-align: center;
}

#login-container header main div h5 a:hover{
    color:crimson;
    text-decoration: underline;
}

/* Fin de estilos de header*/

#login-container header main div{
   
    margin: 0px auto  ;
    width: 500px;
    height: 100px;
    text-align: center;
    
}


#login-container header main div h2{
    vertical-align:middle;
    text-align: left;
    padding: 0px 0px 0px 40px;
}

#login-container header main div ul li input[type=radio] {
    border: 0px;
    width: 100%;
    height: 2em;
    font-size: 10px;
}

#login-container header main div  ul li {
   display: inline-block;
   font-size: 15px;
   padding: 0px 0px 8px 0px;
}

#login-container header main div p{
    display: inline-block;
    padding: 0px 0px 0px 0px;
 }

#login-container header main div input{
    background-color: white;
    margin: 15px 20px 25px 0px;
    width: 400px;
    height: 35px;
    text-align: left;  
   
}

#login-container header main div #log {
    background-color: darkcyan;
    border: none;
    color: white;
    padding: 5px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
  }

#login-container header main div #log:hover {
    background-color: rgb(158, 184, 184); 
    padding: 5px 100px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 18px;
  }


/*Fin de seccion introductoria*/


footer{
    font-size: 15px;
    background-color: #000;
    font-style: oblique;
    padding: 10px 20px;
    color: white;
    text-align: center;
}


